<div class="container mx-auto pt-10">
  <div class="flex gap-4 flex-wrap">
    <ui-button>HELLO I AM BUTTON</ui-button>
    <ui-button variant="secondary">HELLO I AM BUTTON</ui-button>
    <ui-button variant="tertiary">HELLO I AM BUTTON</ui-button>
    <ui-button variant="danger">HELLO I AM BUTTON</ui-button>
    <ui-button variant="success">HELLO I AM BUTTON</ui-button>
    <ui-button variant="warning">HELLO I AM BUTTON</ui-button>
    <ui-button [loading]="true">HELLO I AM BUTTON</ui-button>
    <ui-button disabled>I AM DISABLED BUTTON</ui-button>
  </div>
</div>
