<app-doc-page>
  <app-doc-header label="Button"></app-doc-header>
  <app-doc-sub-header
    label="Modify is a function that changes signal state mutability"
  ></app-doc-sub-header>
  <app-doc-description>
    This is the ebst documentation ever
  </app-doc-description>
  <app-doc-source
    language="ts"
    extension="ts"
    name="modify"
    path="modify/modify.ts"
  ></app-doc-source>
  <app-doc-example
    language="ts"
    path="modify/modify-example.ts"
  ></app-doc-example>
</app-doc-page>
