<app-doc-header label="Modify"></app-doc-header>
<app-doc-sub-header
  label="Modify is a function that changes signal state mutability"
></app-doc-sub-header>
<app-doc-description> This is the ebst documentation ever </app-doc-description>
<app-doc-dependency-install packageNames="immer">
  In order to use modify utils install
  <a href="https://immerjs.github.io/immer/" target="_blank">immer</a> package
</app-doc-dependency-install>
<app-doc-source
  language="ts"
  extension="ts"
  name="modify"
  path="modify/modify.ts"
></app-doc-source>
<app-doc-example
  language="ts"
  path="modify/modify-example.ts"
></app-doc-example>
